@import '../../scss/variables.scss';

.customer {
  width: 100%;
  height: 100%;
}

.customer__card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  max-width: 600px;
  margin: 1.5rem auto;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1.5rem;
}

.customer__card__title {
  grid-column: 1 / 3;
  margin: 0;
  margin-bottom: 1rem;
}

.customer__card__label {
  grid-column: 1;
}

.customer__card__value {
  grid-column: 2 / 3;
}